<html>
<head>
    {{head}}
</head>
<body>
    <div class="container">
        <div class="card">
            Hi there!
            <br /><br />
            Blah plans to go on leave starting on today and resume work on tomorrow.
            <br />For this period, Blah has requested that you fill in for them.
            <br /><br />
            To respond, please go to <a href="#" target="_blank">the request</a>
            <br /><br />
            Kind Regards,
            <br />
            HR Team.
        </div>
    </div>
</body>
</html>
