<html>
<head>
    {{head}}
</head>
<body>
    <div class="container">
        <div class="card">
            Hi there.
            <br /><br />
            Great news! {{substitute-name}} agreed to fill in for you, when your leave starts on {{start-date}}.
            <br /><br />
            Next step? Now you need to notify your supervisor, so he or she can sign off on your leave.
            <div class="container">
                <a href="{{task-link}}">
                    <div class="action-button">
                        Go To The Request
                    </div>
                </a>
            </div>
        </div>
        <div class="sign-off">
            <br />
            From The {{company-name}} HR Team
        </div>
    </div>
</body>
</html>
